header{
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #171717;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
}

li{
    padding-left: 8vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

#ultimo{
    padding-right: 8vw;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: gray;
}