@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
	margin:0;
	padding: 0;
}

body{
	background-color: #fecaca;
	color: #e5e5e5;
	font-family: "Roboto", sans-serif;
}

.sla{
	display: flex;
	width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: red; 
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form_wrapper {
	background: #171717;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 400px;
	max-width: 100%;
	box-sizing: border-box;
	padding: 25px;
	margin: 8% auto 0;
	position: relative;
	z-index: 1;
	border-top: 8px solid #ff0000;
}

.gap{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
	gap: 20px;
}

h2{
	margin-bottom: 20px;
}

.formulario{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.inputs{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 5px;
}

.title_container {
	text-align: center;
	padding-bottom: 15px;
}

label {
    font-size: 12px;
}

.btn {
    width: 100%;
    height: 45px;
    background-image:linear-gradient(150deg, rgb(255, 0, 0) 0%, rgb(243, 56, 56) 100%); 
    color: #fff;
    text-decoration:none;
    padding: 0.4em 1em;
    border-radius: 8px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .4s;
    font-size: 0.9em;
    float: left;
    margin-right: 5%;
  }
  .btn:hover { background-image: linear-gradient(150deg, rgb(243, 56, 56) 0%, rgb(255, 0, 0) 100%); color:rgb(255, 255, 255); }
  